body {
	background-color: rgb(32, 28, 28);
}

p {
	color: rgb(252, 252, 252);
}

h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-brand img {
	height: auto;
	width: 60%;
	padding: 0;
	margin: 0;
}

.sticky-top {
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
}

#hero-row {
	display: flex;
	height: 100%;
	weight: auto;
	align-content: center;
}

.hero-text {
	color: rgb(252, 252, 252);
	margin-left: .8rem;
}

p {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(252, 252, 252);
	font-size: 2rem;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	letter-spacing: .05em;
}

h5 {
	font-family: 'PT Mono', monospace;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	color: rgb(252, 252, 252);
}

.jumbotron {
	background-image: url(../Images/gammaraytele-01.png);
	background-size: cover;
	height: auto;
	background-attachment: fixed;
	background-position: top;
}

#wikiPara {

}

#wikiTitle {
	
}