body {
    background-color: rgb(21, 19, 19);
}

.navbar-brand {
    padding: 0;
}

.sticky-top {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
}


#hero-row {
    display: flex;
    height: 800px;
    align-content: center;
}

.hero-text {
    color: rgb(252, 252, 252);
    margin-left: .8rem;
}

p {
    color: rgb(252, 252, 252);
    font-size: 2rem;
}

h5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbotron {
    background-image: url(../Images/gammaraytele.jpg);
    background-size: cover;
    height: auto;
    background-attachment: fixed;
    background-position: top;
}

#datetime {
    background-color: yellow;
    display: inline-block;
    width: 400px;
}
